{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/git",
        "@semantic-release/github",
        [
            "@iteratec/semantic-release-docker",
            {
                "imageName": [
                    "doks-deploy-tools"
                ]
            }
        ]
    ]
}